<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.cocoaFramework</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.frameworkBase</string>
		<string>com.apple.dt.unit.languageChoice</string>
		<string>com.apple.dt.unit.osxBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>mac 注入</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>AssociatedTargetSpecification</key>
	<dict>
		<key>PopUpTitle</key>
		<string>Embed in Application:</string>
		<key>PopUpDescription</key>
		<string>The application target that will host this new framework. The application will be set up to link to and embed the new framework.</string>
		<key>AllowableProductTypes</key>
		<array>
			<string>com.apple.product-type.application</string>
		</array>
		<key>AllowablePlatforms</key>
		<array>
			<string>com.apple.platform.macosx</string>
		</array>
		<key>AssociatedTargetIsDependent</key>
		<true/>
		<key>AssociatedTargetNeedsProductBuildPhaseInjection</key>
		<true/>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Values</key>
			<array>
				<string>Cocoa</string>
				<string>STL (C++ Library)</string>
				<string>None (Plain C/C++ Library)</string>
			</array>
			<key>Units</key>
			<dict>
				<key>None (Plain C/C++ Library)</key>
				<array>
					<dict/>
				</array>
				<key>STL (C++ Library)</key>
				<array>
					<dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>SharedSettings</key>
								<dict>
									<key>GCC_ENABLE_CPP_EXCEPTIONS</key>
									<string>YES</string>
									<key>GCC_ENABLE_CPP_RTTI</key>
									<string>YES</string>
								</dict>
							</dict>
						</array>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAMEASIDENTIFIER___.hpp</string>
							<string>___PACKAGENAMEASIDENTIFIER___Priv.hpp</string>
							<string>___PACKAGENAMEASIDENTIFIER___.cpp</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>___PACKAGENAMEASIDENTIFIER___.hpp</key>
							<dict>
								<key>Path</key>
								<string>STL___PACKAGENAMEASIDENTIFIER___.hpp</string>
							</dict>
							<key>___PACKAGENAMEASIDENTIFIER___.cpp</key>
							<dict>
								<key>Path</key>
								<string>STL___PACKAGENAMEASIDENTIFIER___.cpp</string>
							</dict>
							<key>___PACKAGENAMEASIDENTIFIER___Priv.hpp</key>
							<dict>
								<key>Path</key>
								<string>STL___PACKAGENAMEASIDENTIFIER___Priv.hpp</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>libraryType</key>
							<string>Dynamic</string>
						</dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>SharedSettings</key>
								<dict>
									<key>GCC_SYMBOLS_PRIVATE_EXTERN</key>
									<string>YES</string>
								</dict>
							</dict>
						</array>
					</dict>
				</array>
				<key>Cocoa</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAMEASIDENTIFIER___.h</string>
							<string>___PACKAGENAMEASIDENTIFIER___.m</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>___PACKAGENAMEASIDENTIFIER___.h</key>
							<dict>
								<key>Path</key>
								<string>Cocoa___PACKAGENAMEASIDENTIFIER___.h</string>
							</dict>
							<key>___PACKAGENAMEASIDENTIFIER___.m</key>
							<dict>
								<key>Path</key>
								<string>Cocoa___PACKAGENAMEASIDENTIFIER___.m</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>Objective-C</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>BigBang/BigBang.m</key>
						<dict>
							<key>Path</key>
							<string>BigBang/BigBang.m</string>
							<key>Group</key>
							<string>BigBang</string>
						</dict>
						<key>BigBang/BigBang.h</key>
						<dict>
							<key>Path</key>
							<string>BigBang/BigBang.h</string>
							<key>Group</key>
							<string>BigBang</string>
						</dict>
						<key>___PACKAGENAMEASIDENTIFIER___.h</key>
						<dict>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___.h</string>
						</dict>
						<key>___PACKAGENAMEASIDENTIFIER___.m</key>
						<dict>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___.m</string>
						</dict>
						<key>main.mm</key>
						<dict>
							<key>Path</key>
							<string>main.mm</string>
						</dict>
						<key>inject.sh</key>
						<dict>
							<key>Path</key>
							<string>inject.sh</string>
						</dict>
						<key>fishhook/fishhook.h</key>
						<dict>
							<key>Path</key>
							<string>fishhook/fishhook.h</string>
							<key>Group</key>
							<string>fishhook</string>
						</dict>
						<key>fishhook/fishhook.c</key>
						<dict>
							<key>Path</key>
							<string>fishhook/fishhook.c</string>
							<key>Group</key>
							<string>fishhook</string>
						</dict>
						<key>CaptainHook/CaptainHook.h</key>
						<dict>
							<key>Group</key>
							<string>CaptainHook</string>
							<key>Path</key>
							<string>CaptainHook/CaptainHook.h</string>
						</dict>
						<key>AntiAntiDebug/AntiAntiDebug.m</key>
						<dict>
							<key>Path</key>
							<string>AntiAntiDebug/AntiAntiDebug.m</string>
							<key>Group</key>
							<string>AntiAntiDebug</string>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>AntiAntiDebug/AntiAntiDebug.m</string>
						<string>CaptainHook/CaptainHook.h</string>
						<string>fishhook/fishhook.c</string>
						<string>fishhook/fishhook.h</string>
						<string>inject.sh</string>
						<string>main.mm</string>
						<string>___PACKAGENAMEASIDENTIFIER___.m</string>
						<string>___PACKAGENAMEASIDENTIFIER___.h</string>
						<string>BigBang/BigBang.h</string>
						<string>BigBang/BigBang.m</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.cocoaLibraryOrFrameworkTarget</string>
			<key>SharedSettings</key>
			<dict>
				<key>LD_RUNPATH_SEARCH_PATHS</key>
				<string>$(inherited) @executable_path/../Frameworks @loader_path/Frameworks</string>
				<key>FRAMEWORK_VERSION</key>
				<string>A</string>
				<key>COMBINE_HIDPI_IMAGES</key>
				<string>YES</string>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>___TARGETNAME:c99ExtIdentifier___.h</key>
		<dict>
			<key>TargetIdentifiers</key>
			<array>
				<string>com.apple.dt.cocoaLibraryOrFrameworkTarget</string>
			</array>
			<key>BuildAttributes</key>
			<array>
				<string>Public</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
